<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fore Seaons - Golfing Experience </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" runat="server"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" runat="server" />
    <link rel="stylesheet" href="~/Appointment_Scheduler.styles.css" asp-append-version="true" runat="server" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" runat="server">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" runat="server"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" runat="server"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" runat="server"></script>

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 px-3" style="background-color: #4a1e1e">
            <div class="container-fluid" >
                <!--<img src="~/Images/golfIcon.jpg" class="img-center" height="50" width="50"/>-->
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Fore Seasons</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav  flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Appointments" asp-action="Index">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Simulator">Simulators</a>
                        </li>
                    </ul>
                    <!--<partial name="_LoginPartial" />-->
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2022 - Fore Seasons<br />
            Contact: (555) 555-5555  <br />
            Address: Port Orchard, WA 98999<br />
            Email: foreseasons@foreseasonsgolfexperience.com
            <partial name="_LoginPartial" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
