@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fore Seasons</h1><br />
    
    <p>The best location to play golf in town! There will be 3 full simulators to 
        play a few rounds, practice, and have fun with our various mini games. 
        Our large putting green will provide plenty of space to practice putting and chipping on.</p>

</div>
