@{
    ViewData["Title"] = "Simulator Page";
}


<div id="welcomeSection">
    <h1 class="text-center text-light fw-bold">Simulator Details</h1><br />
</div>
<img id="uneekorImg" class="mobile-noshow size-full" align="right" src="~/images/uneekor.jpg"/>
<br />

<p>

    <b>Simulator-Uneekor QED Launch Monitor</b><br />
    <br />
    <b>Ball Data</b> Carry, run, total distance, apex, ball speed, side & back spin, launch, decent and land angle
    <br />
    <br />
    <b>Impact Screen</b> 9x12 premium impact screen for quality experience 
    software: TGC 2019 with over 150,000 real and user designed courses to play from around the world!
    <br />
</p>