html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: sans-serif;
}
h1{
    font-size: 26px;
}
navbar-brand {
    font-size: 20px;
    
}
#welcomeSection {
    background-color: #4a1e1e;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -18px;
    
}

#firstSection {
    background-image: url('../images/golfsim3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center;
    margin: auto;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: .9;
}

#secondSection {
    background-image: url('../images/golfsim1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center;
    margin: auto;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: .9;
}

#thirdSection {
    background-image: url('../images/golfsim2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center;
    margin: auto;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: .9;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
    }
}

#uneekorImg{
    width: clamp(200px, 40%, 300px);

}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    position: relative;

}

th, td {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #ebe6e6;
}

.carousel,
.item,
.active, .carousel-item {
    width: 100%;
    height: clamp(400px, 100%, 800px);
    aspect-ratio: 16/9;
    position: center;
    margin: 0px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


/* Background images are set within the HTML using inline CSS, not here */
.fill {
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: cover;
}

.container{
    width:100%;
}

